

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

/* Container für die Event-Liste */
.event-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* Stil für jedes Listenelement */
.event-list-item {
    height: wrap;
    border: 1px solid #000000; 
    border-radius: 8px; 
    padding: 16px; 
    margin: 30px; 
    background-color: #00000099; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    max-width: 500px;
}

/* Stil für den Titel-Link */
.event-title {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

.event-title:hover{
    text-decoration: underline;
} 

/* Stil für das Bild */
.event-image {
    border-radius: 8px; 
    margin-bottom: 12px; 
    max-height: 464px;
}

/* Stil für die Absätze */
.event-date,
.event-description {
    margin: 4px 0; 
    color: #ffffff; 
    font-size: 1em;
}

/* Stil für die Beschreibung im Kursivstil */
.event-description em {
    font-style: italic; 
}


html.dark {
    background-color: #0d0950;
    color: #fff;
}
  
/*für kleinere Screens*/
@media (max-width: 1100px) {
    .event-list-item {
        margin: 30px auto; /* Automatische horizontale Zentrierung */
    }
}