---
const pageTitle = "About";
import BaseLayout from "../layout/baseLayout.astro";
import Social from "../components/Social.astro";
//TODO this side
---
<BaseLayout pageTitle={pageTitle}>
    <div>

        <img src={"../../public/myLogo.png"} alt= 'My Logo'} class="my-Logo"/>

        <p>Diese Webseite dient dazu, meine Fähigkeiten als Full-Stack-Entwickler zu präsentieren und kontinuierlich weiterzuentwickeln.</p>
    
        <Social/>
        
    </div>
   
</BaseLayout>

<style>

    div{
        margin: 20px;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    img{
        border: 10px solid #000000;
    }

</style>