---
const { title, url, description, startDate, endDate, thumbnailUrl } = Astro.props
---
<li   class="event-list-item" >
    {thumbnailUrl && (
    <img src={thumbnailUrl} width="500" alt={title || 'Event Bild'} class="event-image"/>
    )}
    <a class="event-title" href={url}>{title}</a>
    <p class="event-date">Start : {startDate.slice(0,10)} {startDate.slice(11,19)} </p>
    <p class="event-date">Ende : {endDate && endDate.slice(0,10)} {endDate && endDate.slice(11,19)}</p>
    
    
</li>

