---
import Navigation from "./Navigation.astro";
const { pageTitle } = Astro.props;
//TODO make the header use the whole width
---
<!-- Astro Component -->
<header>
  <nav>
      <h1>{pageTitle}</h1>
      <div class="navLinks">
          <Navigation /> <!-- Hier wird deine Navigation eingef체gt -->
      </div>
  </nav>
</header>

<style>
header {
  
  border: 0px solid #000000; /* Leichte Border f체r den Header */
  padding: 8px; /* Innenabstand */
  margin: 0px;
  margin-bottom: 10px; /* Abstand zwischen dem Header und dem n채chsten Element */
  background-color: #00000050; /* Hintergrundfarbe mit Transparenz */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border zur Gesamtbreite z채hlen */
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between; /* Verteilt den Platz zwischen dem Titel und der Navigation */
  align-items: center; /* Zentriert die Items vertikal */
}

h1 {
  margin: 10px;
  color: #fff;
  font-size: 3em;
}

.navLinks {
  display: flex; /* Stellen Sie sicher, dass die Navigation als flexibles Container fungiert */
  margin-left: auto; /* Verschiebt die Navigation nach rechts */
}

.navLinks a {
  margin-left: 16px; /* Abstand zwischen den Links */
  text-decoration: none; /* Entfernt die Unterstreichung der Links */
  color: #fff; /* Linkfarbe */
}

.navLinks a:hover {
  text-decoration: underline; /* Unterstreicht Links beim Hover */
}
</style>
