---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
const { pageTitle } = Astro.props;
---
<header id="header">
  <nav>
      <h1>{pageTitle}</h1>

      <div class="container">

        <div id="nav-links" class="nav-links">
          <ThemeIcon/>
          <Navigation/> 
        </div>
  
        <div id="hamburger">
          <Hamburger />
        </div>

      </div>
     
      
  </nav>
</header>

<style>

header {
  position: fixed;
  border: 0px solid #000000; 
  padding: 8px; 
  margin: 0px;
  background-color: #00000050; 
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border zur Gesamtbreite zählen */
  width: 100%;
  transition: top 0.3s; /* Sanfter Übergang beim Ein- und Ausblenden */
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

h1 {
  margin-left: 10px;
  color: #fff;
  font-size: 3em;
}

.container{
  margin-left: auto; 
  display: flex;
  align-items: center;
}

.Hamburger{
  margin-left: auto; 
}

.nav-links {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.nav-links.show {
  visibility: visible;
  opacity: 1;
}

</style>

<script>
  let lastScrollTop = 0; // Initiale Position
  let ticking = false;

  function updateHeader() {
      const header = document.getElementById('header');
      const currentScroll = document.documentElement.scrollTop;

      if (currentScroll > lastScrollTop) {
          // Wenn nach unten gescrollt wird
          header.style.top = "-150px"; 
          // Wenn nach oben gescrollt wird
          header.style.top = "0";
      }

      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; 
      ticking = false;
  }

  window.addEventListener('scroll', function() {
      if (!ticking) {
          window.requestAnimationFrame(updateHeader);
          ticking = true;
      }
  });

  document.addEventListener('DOMContentLoaded', function() {
    const hamburger = document.getElementById('hamburger');
    const navLinks = document.getElementById('nav-links');

    hamburger.addEventListener('click', function() {
        navLinks.classList.toggle('show');
    });
  });
  
</script>


