---

---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
</div>

<style>  
  a {
    margin: 5px;
    padding: 3px;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    }
</style>