---

---
<div class="nav-links">
    <a href="/">Veranstaltungen</a>
    <a href="/search/">Suche</a>
    <a href="/about/">About</a>
  </div>

  <style>
    a {
      border: 1px solid #000000;    
      margin: 10px;
      padding: 3px;
      background-color: #00000050;
      text-decoration: none; /* Entfernt die Unterstreichung von Links */
      color: #ffffff; /* Farbe für Links */
      font-size: 2em;

    }
  </style>