---
---
<div>
    <a href="https://github.com/AndreasIsl/Veranstaltungen">Github</a>
    <a href="https://www.linkedin.com/in/andreas-islitzer-4052632b1/">Linkedin</a>
</div>
<style>
    div{
        display: flex;
    }

    a {
        margin: 10px;
        text-decoration: none;
        color: white;
        background-color: #00000090;
        font-size: 2em;
        padding: 10px;

    }
</style>