<a href={`https://www.github.com/AndreasIsl`}>Github</a>
<a href={`https://www.linkedin.com/in/andreas-islitzer-4052632b1/`}>Linkedin</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>