---
import { db, EventTable } from 'astro:db';
import BaseLayout from "../../layout/baseLayout.astro";
import FAB from '../../components/FAB.astro';

export async function getStaticPaths() {
  let events = await db.select().from(EventTable);
  
  return events.flatMap((event) => {

    return {

      params: { event: event.id },
      props: { title: event.title, 
        startDate: event.startDate,
         endDate: event.endDate,
          description: event.description,
          thumbnailUrl: event.thumbnailUrl },
    };
  });

}

const { event } = Astro.params;
const { title,startDate,endDate,description,thumbnailUrl } = Astro.props;
---

<BaseLayout pageTitle = "Events">

  <div class="eventsContainer">
    <h1 class="events-title">{title}</h1>

    <img src={thumbnailUrl}  alt={title || 'Event Bild'} class="event-image"/>
   
    <div class="dateContainer">

      <p class="events-date">
        <b>Start:</b> {startDate.slice(0, 10)} {startDate.slice(11, 19)}
      </p>

      <p class="events-date">
        <b>Ende:</b>  {endDate && endDate.slice(0,10)} {endDate && endDate.slice(11,19)}
      </p>
    </div>

    <p class="events-description"><em>{description}</em></p>

    <div class="fab-container">
      <FAB/>
   </div>

  </div>

</BaseLayout>

<style>

  img{
    border: 10px solid #00000090;
  }
  .eventsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .events-date{
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 16px;

  }

  .dateContainer{
    display: flex;
    flex-direction: column;
  }

  .events-description{
    max-width: 1000px;
    font-size: 2em;

  }

  .events-title{
    font-size: 3em;
    max-width: 1000px;
  }

  .fab-container {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 1000;
	}

</style>

