---
import BaseLayout from "./baseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Start : {frontmatter.startDate.slice(0,10)} {frontmatter.startDate.slice(11,19)} </p>
  <p>Ende : {frontmatter.endDate && frontmatter.endDate.slice(0,10)} {frontmatter.endDate && frontmatter.endDate.slice(11,19)}</p>
  <p><em>{frontmatter.description}</em></p>
  {frontmatter.imageUrl && (
      <img src={frontmatter.imageUrl} width="300" alt={frontmatter.title || 'Event Bild'} />
    )}
  <slot />
</BaseLayout>